@model IBaseModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Simple Block Explorer</h1>
    @foreach (EthereumNetwork network in Model.Networks)
    {
        <div class="row">
            <div class="col-12">
                <h2>@network.Name</h2 >
            </div>
        </div>
    }
</div>
